.styleCards {
    background-color: rgb(245, 243, 243);
    padding: 0;
    align-items: center;
    justify-content: center;
    
}

.btn-primary {
    color: #fff;
    background-color: #0495c9;
    border-color: #357ebd; /*set the color you want here*/
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #00db0b;
    border-color: #285e8e; /*set the color you want here*/
}

.btn-outline-secondary  {border-radius: 50%;}

